<h1>Edit piece</h1>

<form id="edit-piece" name="piece">
  <div class="field">
    <label for="color"> color </label>
    <input type="text" name="color" id="color" value="<%= color %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Piece" />
  </div>

</form>

<a href="#/index">Back</a>