<h3> New Piece </h3>

<form enctype="multipart/form-data" id="new-piece" name="piece">

<ul class="piece_details">
  <li><div class="field">
    <label for="link"> link </label>
    <input type="text" name="link" value="" />
  </div></li>

  <li><div class="field">
    <label for="color"> color </label>
    <input type="text" name="color" value="" />
  </div></li>

  <li><div class="field">
    <label for="brand"> brand </label>
    <input type="text" name="brand" value="" />
  </div></li>

  <li><div class="field">
    <label for="size"> size </label>
    <input type="text" name="size" value="" />
  </div></li>

  <li><div class="field">
    <label for="price"> price </label>
    <input type="text" name="price" value="" />
  </div></li>

  <li><div class="field">
    <label for="source"> source </label>
    <input type="text" name="source" value="" />
  </div></li>

  <li><div class="field">
    <label for="note"> note </label>
    <input type="text" name="note" value="" />
  </div></li>

  <li><div class="actions">
    <input type="submit" value="Create Piece" />
  </div></li>
</ul>
</form>

<a href="#/index">Back</a>