<h3> New Piece </h3>

<form enctype="multipart/form-data" id="new-piece" name="piece">

  <div class="field">
    <label for="color"> color </label>
    <input type="text" name="color" value="" />
  </div>

  <div class="field">
    <label for="picture"> picture </label>
    <input type="file" name="picture" value="" />
  </div>



  <div class="actions">
    <input type="submit" value="Create Piece" />
  </div>

</form>

<a href="#/index">Back</a>