<div id="pieces"></div>

<script type="text/javascript">
  console.log("HELLO")
  $(function() {
    window.router = new Hangerz.Routers.PiecesRouter({
      pieces: <%= @pieces.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>